# Common entries for React projects
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
.env

# Project-specific entries (add as needed)
# bm-app
/build/
/.vscode/

# learn-webpack
/dist/

# react-app
/public/
/.env.local

coverage/
